@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@1,200..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

html {
  font-size: 75%;
  background-color: var(--color-background);
  @media screen and (max-width: 600px) {
    font-size: 70%;
  }
}

@import "tailwindcss";

.spinner {
  height: 1.5rem;
}

pre {
  font-size: 1.1667rem;
}

@theme {
  --color-background: #141414;
  --color-white-dull: #ffffff80;
  --color-footer-text: #444444;
  --color-hero-text: #e7dddd;
  --color-button: #8B85F4;
  --color-converter-bg: #202020;
  --color-swap-bg: #6D6C6D;
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #ffffff0d;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb {
  background: #ffffff4d;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: #6b7280;
}

/* Remove number input arrows */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.font-crimson {
  font-family: "Crimson Pro", "Twemoji Mozilla",
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji",
    "EmojiOne Color",
    "Android Emoji", serif;
  font-optical-sizing: auto;
  font-style: italic;
}

.emoji-element {
  font-variant-emoji: emoji;
}

@media (width=48rem
  /* 768px */
) {
  .top-element {
    position: absolute;
    top: calc(280px * -1)
      /* -280px */
    ;
  }
}

@media (width=912px) {
  .top-element {
    position: absolute;
    top: calc(330px * -1)
      /* -330px */
    ;
  }
}

@media (width=540px) {
  .top-element {
    position: absolute;
    top: calc(190px * -1)
      /* -190px */
    ;
  }
}

@media (width >=1440px) {
  .top-element {
    position: absolute;
    top: calc(540px * -1);
    /* -540px */
  }
}