@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro");

.font-crimson {
  font-family: "Crimson Pro", serif;
}

html {
  font-size: 62.5%;
  @media screen and (max-width: 1300px) {
    font-size: 55%;
  }
}

@import "tailwindcss";

@theme {
  --color-background: #141414; 
  --color-white-dull: #FFFFFF80;
  --color-footer-text: #444444;
}
